.card {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.card img {
  margin-left: 1rem;
}

.cardData {
  margin: 0;
  text-align: center;
  width: 50%;
}

p,
h2 {
  margin: 0;
}
