#root {
  max-width: 1440px;
  margin: 0 auto;
}

.read-the-docs {
  color: #888;
}

main {
  margin-left: 150px;
  display: flex;
}

section {
  width: 1200px;
}

.trainingCharts {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.userSelect {
  margin-left: 150px;
}
