#root {
  max-width: 1440px;
  margin: 0 auto;
}

.read-the-docs {
  color: #888;
}

main {
  margin-left: 150px;
  display: flex;
}

section {
  width: 900px;
}

.trainingCharts {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
